<header>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #82B1FF;">
        <a class="navbar-brand" href="#" style="font-style: bold;">
        <img src="../../assets/images/Logo.png" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
               
                <a class="nav-link" routerLink="home">
                    <button type="button" class="btn btn-primary"></button></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="login">
                <button type="button" class="btn btn-primary">Login</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="register">
                    <button type="button" class="btn btn-primary">Register</button></a>
              </li>
         
          </ul>
        
        </div>
      </nav>
</header>