<nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
          
        <a class="nav-item nav-link" (click)="navBack()" style="padding-top: 25px;background-color: lightgray;">back</a>
      </ul>
    </div>
    </nav>
    <div>
<h1 style="color: black; padding-top: 50px;">All  Transactions</h1>
<nav class="navbar">
    
    <a style="cursor: pointer;background-color: lime;border-radius: 0.5em;" (click)="exportexcel()" >
        All transactions download
      </a>
</nav>


<table class="table table-striped table-success"id="fileName">
    <thead>
        <tr>
            <th >id&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
            <th>sender</th>
            <th>receiver</th>
            <th >amount&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
            <th >transactionDate&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions ">
            <td>{{transaction.id}}</td>
            <td>{{transaction.fromaccountnumber}}</td>
            <td>{{transaction.toaccountnumber}}</td>
            <td>{{transaction.balanceondate}}</td>
            <td>{{transaction.transactiondate}}</td>
        </tr>
    </tbody>