<div class="">
  <div>
    <nav class="navbar navbar-expand "style="background-color: #82B1FF;" >
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="transfer">
              <button type="button" class="btn btn-primary">Transfer</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="account">
              <button type="button" class="btn btn-primary">History</button>  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="transactionslist">
              <button type="button" class="btn btn-primary">AllTransactions</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="details">
              <button type="button" class="btn btn-primary">My Profile</button></a>
          </li>
          
        <a class="nav-item nav-link" (click)="logout()">
        <button type="button" class="btn btn-primary">Logout</button></a>
      
        </ul>
      </div>
    </nav>
  </div>
    <div><h2 align ="center" style="color: black;">Hello! {{user.username}} , Welcome to Retail Online Banking </h2></div>
   
   
      <h3 style="color: black;">User List</h3>
      <table class="table table-striped table-success">
        <thead>
          <tr>
          
           
            <th scope="col"> id</th>
            <th  scope="col">userName</th>
            <th  scope="col">bankAccountNumber</th>
            <th  scope="col">balance</th>
            
            <th  scope="col">email</th>
            <th  scope="col">type</th>
          </tr>
        </thead>
        <tbody>
      
          
          <tr *ngFor="let user of users|async">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.bankaccountnumber}}</td>
            <td>{{user.balance}}</td>
            
            <td>{{user.emailid}}</td>
            <td>{{user.usertype}}</td>
            <div>
                <span class="btn btn-danger" (click)="editUser(user)" *ngIf='user.usertype==""'>Edit</span>
               
                <hr />
            </div>
        </tr>
        </tbody>
      </table>
    
    
</div>
