<div class="">
  <div><nav class="navbar navbar-expand " style="background-color: #82B1FF;">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="transfer">
            <button type="button" class="btn btn-primary">Transfer</button>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="details">
            <button type="button" class="btn btn-primary">  My Profile</button>
          </a>
        </li>
        
        <a class="nav-item nav-link" (click)="logout()">
          <button type="button" class="btn btn-primary">Logout</button></a>
      </ul>
    </div>
  </nav></div>
    <div><h2 align ="center" style="color: black;">Hai {{user.username}} , welcome to retail Banking </h2></div>
  	<img src="../../assets/images/download.jpg" alt="Snow" style="width:100%;">
</div>
