<nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
          
        <a class="nav-item nav-link" (click)="navBack()" style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
      </ul>
    </div>
    </nav>
<form (ngSubmit)="onUpdate()">
    
    <div class="form-group">
        <label for="bankaccountnumber">Bank Account Number</label>
        <input type="text" class="form-control" id="bankaccountnumber" required [(ngModel)]="user.bankaccountnumber" name="bankaccountnumber">
    </div>
    <div class="form-group">
        <label for="balance">Balance</label>
        <input type="number" class="form-control" id="balance" required [(ngModel)]="user.balance" name="balance">
    </div>
    
    <div class="form-group">
        <label for="usertype">Type</label>
        <input type="text" class="form-control" id="usertype" required [(ngModel)]="user.usertype" name="usertype">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
</form>
