<div class="Main">
<div class="container-fluid"  style="color: black;">
    
       
    <nav class="navbar navbar-expand bg-light">
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            
          <a class="nav-item nav-link" (click)="navBack()" 
          style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
        </ul>
      </div>
      </nav>
          
         
                                <div class="card">
                                  <div class="card-header">
                                    User id :    {{user.id}}
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title"> Username:  {{user.username}}</h5>
                                    <h5 class="card-title"> >Bankaccountnumber:  {{user.bankaccountnumber}}</h5>
                                    <h5 class="card-title"> >Balance:  {{user.balance}}</h5>
                                    <h5 class="card-title"> > Phone:   {{user.phoneno}}</h5>
                                    <h5 class="card-title"> >Email:  {{user.emailid}}</h5>

                                  
                                   
                                  </div>
                                </div>
                                      
  </div>
</div>